form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin:auto;
}

input, textarea {
    padding: 0.5rem;

}

.stories {
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
}

.stories > div {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.5rem;
    width: 300px;
}